html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  background-image: url("../img/chem8.png");
  background-size: cover;
  background-attachment: fixed;
}

.login-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.login-left {
  display: flex;
  position: relative;
  height: 600px;
  width: 61.8%;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  background-color: rgba(121, 106, 238, 0.7);
  color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  float: left;
}

.login-right {
  display: flex;
  position: relative;
  width: 38.2%;
  height: 600px;
  align-items: center;
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: black;
  background-color: #fff;
  box-sizing: border-box;
  overflow: auto;
  float: left;
}

.login-main {
  margin: 0 auto;
  width: 65%;
  box-sizing: border-box;
}

.btn-login {
  width: 61.8%;
  float: right;
}

@media screen and (max-width: 992px) {
  .login-left, .login-right {
    width: 50%;
  }
  .btn-login {
    width: 100%;
    margin-top: 8px;
  }
}

@media screen and (max-width: 768px) {
  .login-left {
    width: 98vw;
    height: 48vh;
    margin: auto;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
    float: none;
  }
  .login-right {
    width: 98vw;
    height: 48vh;
    margin: auto;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    float: none;
  }
}

@media screen and (max-width: 576px) {
  .btn-login {
    width: 100%;
  }
}

a, i, span {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button, input {
  outline: none !important;
}

a:hover, a:focus, i:hover, i:focus, span:hover, span:focus {
  text-decoration: none;
}

.cursor-pointer:hover {
  cursor: pointer;
}

input.input-material {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

input.input-material.is-invalid {
  border-color: #dc3545 !important;
}

input.input-material:focus {
  border-color: #796aee;
}

input.input-material~label {
  color: #aaa;
  position: absolute;
  top: 14px;
  left: 0;
  cursor: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 300;
}

input.input-material~label.active {
  font-size: 0.8rem;
  top: -10px;
  color: #796aee;
}

input.input-material.is-invalid~label {
  color: #dc3545;
}

.form-control::-moz-placeholder {
  font-size: 0.9em;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #aaa;
}

.form-control::-webkit-input-placeholder {
  font-size: 0.9em;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #aaa;
}

.form-control:-ms-input-placeholder {
  font-size: 0.9em;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #aaa;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #796aee;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.25);
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

.btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled).active {
  background-image: none;
}

.btn-primary {
  color: color-yiq(#796aee);
  background-color: #796aee;
  border-color: #796aee;
}

.btn-primary:hover {
  color: color-yiq(#5a48ea);
  background-color: #5a48ea;
  border-color: #503ce9;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: color-yiq(#796aee);
  background-color: #796aee;
  border-color: #796aee;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
  color: color-yiq(#503ce9);
  background-color: #503ce9;
  border-color: #4631e7;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.5);
}

.copyright {
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}